<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-2">Lies</h1>
    <p class="lead">What are the best lies you have told or heard, share them anonymously!</p>
    <hr>
    <a class="btn boxShadow space" href="/register" role="button"><span></span><text class="buttonText">Register</text></a>
    <a class="btn boxShadow space" href="/login" role="button"><span></span><text class="buttonText">Login</text></a>

  </div>
</div>

<%- include('partials/footer') %>
