<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Tell the Lies you have told or heard!</h1>

    <% usersWithLies.forEach(function(user){ %>
      <p class="lie-text"><%=user.lie%></p>
    <% }); %>

    <hr>

    <a class="btn boxShadow space" href="/logout" role="button"><span></span><text class="buttonText">Log Out</text></a>
    <a class="btn boxShadow space" href="/submit" role="button"><span></span><text class="buttonText btnLong">Submit A Lie</text></a>
  </div>
</div>

<%- include('partials/footer') %>
