
body {
  background-color: #f8f8ff;
  color: #666699;
}

h1 {
  color: #666699;
}

/* Home page */
.centered {
    padding-top: 100px;
    text-align: center;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  color: #8372AC;
}

.space {
  margin: 0 20px;
}

/* Lie Page */
.lie-text {
  text-align: center;
  font-size: 1.5rem;
  color: #666699;
  background-color: white;
  padding: 10px 150px;
  margin: 20px 100px;
  border-radius: 35px;
}

/*input css*/

.inputcs {
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  font-size: 16px;
  color: #8585AD;
  outline: none;
  border: 2px solid #8585AD;
}

.inputcs:focus {
  border: none;
  outline: 2px solid #0000F0;
}
.inputcs:focus + span,
.inputcs:valid + span {
  top: -75px;
  left: 10px;
  font-size: 20px;
  padding: 0 10px;
  background: #fff;
}

span {
  position: relative;
  top: -40px;
  left: 15px;
  font-size: 25px;
  letter-spacing: 0.05em;
  pointer-events: none;
  font-weight: 600;
  font-family: sans-serif;
  transition: .4s;
  color: #8585AD;
}

/* button css*/
.buttonText {
  position: relative;
  top: -5px;
}

.btnLong {
  letter-spacing: 1px;
}

.boxShadow {
  width: 140px;
  height: 45px;
  font-family: sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #0000F0;
  background-color: #f8f8ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.boxShadow:hover {
  background-color: #0000F0;
  box-shadow: 0px 15px 20px rgba(0, 0, 139, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
